################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorSamples/ConnectFourGame/.vs/ConnectFourGame
/BlazorSamples/ConnectFourGame/ConnectFourGame/bin/Debug/net8.0
/BlazorSamples/ConnectFourGame/ConnectFourGame/obj
/BlazorSamples/ConnectFourGame/ConnectFourGame.Client/bin/Debug/net8.0
/BlazorSamples/ConnectFourGame/ConnectFourGame.Client/obj
